body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #434455;
}

.header-logo {
  color: #4d5ae5;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.header-span {
  color: #2e2f42;
}

.header-navigation {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  text-decoration: none;
}

.header-navigation:hover,
.header-navigation:focus {
  color: #404bbf;
}

.header-list {
  list-style-type: none;
}

.header-adres {
  font-style: normal;
}

.header-adres ul {
  list-style-type: none;
}

.header-adres-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #434455;
}

.header-adres-link:hover,
.header-adres-link:focus {
  color: #404bbf;
}

.main {
  background-color: #2e2f42;
}

.main-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
}

.main-button {
  cursor: pointer;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.main-button:hover,
.main-button:focus {
  background-color: #404bbf;
}

.title-second {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.advantages ul {
  list-style-type: none;
}

.advantages-text {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.title-third {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.our-team {
  background-color: #f4f4fd;
}

.our-team-list {
  background-color: #fff;
}

.our-team ul {
  list-style-type: none;
}

.our-team-text {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.our-portfolio ul {
  list-style-type: none;
}

.our-portfolio-text {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.foter {
  background-color: #2e2f42;
}

.foter-text {
  color: #f4f4fd;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.foter-logo {
  color: #4d5ae5;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.foter-span {
  color: #f4f4fd;
}
